
.botoes{
	display: block;
    margin: auto;
    width: 90%;
    vertical-align: center;
    text-align: center;
    margin-top: 30%;
}

.a{
	display: block;
    margin: auto;
    width: 95%;
 }


.pontos{
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
	padding-top: 70px;
}

.coracao{
	text-align: center;
}

.info{
	padding-top: 30px;
}

html, body {margin: 0; height: 100%; overflow: hidden}